
body {
  font-family: "Georgia",serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, p {
  text-align: center;
  color: rgb(70, 10, 10);
}

.search-section {
  background-color: transparent;
  color: #ffffff;
  padding: 60px 90px;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 30px;
  padding: 50px;
  margin: 60px;
  font-size: 20px;
}

.input {
  padding: 10px;
  border: 1px solid #d60a0a;
  border-radius: 5px;
  margin-right: 10%;
}

.button {
  padding: 11px 40px;
  background-color: #9f1515;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #710d0d95;
}

.results-section {
  padding: 100px;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 700px;
  margin: 0px auto;
  margin-top: -170px;
}

.card {
  background-color: #8f6f6f1b;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-content {
  font-size: 17px;
}

.address, .phone, .hours {
  margin: 10px 5px;
}

.icon {
  margin-right: 10px;
  vertical-align: middle;
}

.appointment-button {
  background-color: #600c0c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.appointment-button:hover {
  background-color: #8b212144;
}

.text-muted-foreground {
  text-align: center;
  color: #888888;
  margin-top: 20px;
}
