.appointment-form-section {
    padding: 0;
    text-align: center;
    width: auto;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 50px 50px;
  }
  
  .form-left {
    flex: 1;
    margin-right: 50px;
  }
  
  .form-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px; /* Adjust this value to move the image lower */
  }
  
  .form-title {
    font-size: 1.5em;
    margin-bottom: 40px;
  }
  
  .form-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    align-items: center;
  }
  
  .form-group {
    display: contents; /* This will make sure each label and input pair is positioned in the grid */
  }
  
  label {
    text-align:left;
    padding-right: 50%;
    grid-column: 1;
  }
  
  input[type="text"],
  input[type="datetime-local"],
  input[type="date"],
  select {
    width: 100%;
    padding: 12px;
    border: 1px solid #761717;
    border-radius: 15px;
    box-sizing: border-box;
    grid-column: 2;
  }
  
  .text-appointment-btn {
    background: #8B0000; /* Dark red color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
    grid-column: span 2; /* Make button span across both columns */
  }
  
  .text-appointment-btn:hover {
    background: #a50000; /* Slightly lighter dark red color */
  }
  
  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    grid-column: span 2; /* Make error messages span across both columns */
  }
  
  .success-message {
    color: rgb(77, 20, 32);
    font-size: 1em;
    margin-top: 20px;
    grid-column: span 2; /* Make success message span across both columns */
  }
  
  .logo-image {
    max-width: 70%;
    height: auto;
    border-radius: 100px;
  }
  
  .legal-footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
  }
