.hero-section {
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* background: linear-gradient(to right, #104dd0, #139526); */
}
/* Text section */
.text-section {
    width: 100%;
    padding: 25 32px;
}
/* .text-headline {
    margin-bottom: 70px;
    color:rgb(68, 21, 21);
    font-family:Georgia, serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: .7px;
    margin-left: 80%;
    margin-top: -0%;
    width:600px ; */
    /* background:linear-gradient(rgba(199, 189, 189, 0.6), transparent); */
/* } */
.text-title {
     margin-bottom: 50px;
    color: rgb(50, 6, 6);
    font-family: Georgia, serif;
    font-size: 2.4rem;
    font-weight: bold; 
    font-weight:700px ;
}
.text-title font{
    background-color: #9c5a592d ;
     padding: 4px 9px ;
     border-radius: 20px;
}
.text-descritpion {
    width: auto;
    margin: 25px 15px;
    color: rgb(54, 8, 8);
    font-family: Georgia, serif;
    font-size: 19px;
    letter-spacing: .7px;
    line-height: 1.6rem;
}
.text-appointment-btn {
    padding: 14px 20px;
    color: rgb(37, 2, 2);
    border: 20px solid transparent;
    border-radius: 50px;
    outline: transparent;
    background-color: #f5f7f9;
    font-size: 21px;
    font-family: Georgia, serif;
    letter-spacing: .8px;
    cursor: pointer;
    transition: all .4s ease;
    width: auto;
}
.text-appointment-btn:hover {
    color: #0e0201;
    background-color: transparent;
    border: 1px solid #bbbec1;
}
.text-stats {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
}
.text-stats-container {
    text-align: center;
}
.text-stats-container > p {
    color: rgb(61, 59, 59);
    font-family: Georgia, serif;
    font-size: 22px;
    letter-spacing: .7px;
}
.text-stats-container p:first-child {
    margin-bottom: 5px;
    color: #270404;
    font-family: Georgia, serif;
    font-size: 32px;
    font-weight: bold;
}
/* Image section */
.hero-image-section {
    width: 100%;
    max-width: 50%;
    text-align: center;
    
    
}
.hero-image1 {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    margin-left: 30px;
    border-radius: 30px;
}
/* Scroll Btn */
.scroll-up {
    width: 45px;
    height: 45px;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    background-color: #3f0b0b;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 24px;
    z-index: 20;
    cursor: pointer;
}  
.show-scroll {
  display: flex;
}
/* Responsive */
@media screen and (max-width: 900px) {
    .hero-image-section {
        display: none;
    }
    .text-section {
        width: 100%;
        padding: 0;
    }
    .text-title, .text-descritpion {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .text-headline {
        font-size: 20px;
    }
    .text-title {
        font-size: 28px;
    }
    .text-descritpion {
        font-size: 16px;
    }
    .text-appointment-btn {
        font-size: 16px;
    }
    .text-stats {
        gap: 18px;
    }
    .text-stats-container > p {
        font-size: 16px;
    }
    .text-stats-container p:first-child {
        font-size: 22px;
    }
    .scroll-up {
        bottom: 32px;
        right: 32px;
    }
}
