.navbar {
    height: 0;
    background:linear-gradient(rgba(84, 9, 9, 0.6), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  .navbar-logo {
    color: rgb(47, 1, 1);
    text-decoration: none;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
  }
  
  .nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    width: 75vw;
    justify-content: flex-end;
    margin-right: 2rem;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    height: 10vh;
  }
  
  .nav-item a {
    text-decoration: none;
    color: rgb(30, 2, 2);
    font-size: 1.3rem;
    margin-right: 3rem;
    padding: 6px 16px;
    border-radius: 5px;
  }
  
  .nav-item a:hover {
    background: rgb(158, 112, 112);
  }